.navbar {
  margin-bottom: 0px !important;
}
.form-control{
  width: 1000px !important;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#result-list {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -195px;
  height: 380px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 321px;
  width: 200px;
  overflow-y: scroll;
}
li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 5px 0 0 0;
}
